<%- include('partials/header') -%>


    <div id="home">
        <div id="home_box1">
            <center>

                <% if(temp){ %>
                    <h4> The Temperature in <span class="tomato">
                            <%=temp.city%>
                        </span> is <span class="tomato">
                            <%= temp.intensity %>
                        </span>
                        degree celcius
                    </h4>
                    <h4>The Current Weather is <%= temp.desc %>
                    </h4>
                    <% }else{ %>
                        <h1>
                            <span class="tomato"> Clean, complete,</span> uncompromised data for everyone
                        </h1>
                        <% } %>

            </center>

        </div>
        <div id="home_box2">
            <% if(!auth){ %>
                <div id="temp-box">
                    <div>
                        <i class="material-icons" style="font-size:48px;color:red">star_border</i>
                        <i class="material-icons" style="font-size:48px;color:red;">star_border</i>
                        <i class="material-icons" style="font-size:48px;color:red;">star_border</i>
                        <form action="/tempFinder" method="post">
                            <!-- <label for="CityInput">City Name:</label> -->
                            <h1 style="color:rgb(225, 95, 0);">Temperature Finder</h1>
                            <input type="text" name="cityname" placeholder="Enter City Name">
                            <button type="submit" class="btn">Find</button>
                        </form>
                    </div>
                </div>
                <% } else{%>
                    <div id="temp-box">
                        
                        <div>
                            <% if(foundUserDetail){  %>
                                
                                
                            <div class="logo"><img src="image/logo.jpg"></div>
                                    <h2 style="color:rgb(225, 95, 0);"><%= foundUserDetail.name %></h2>
                                    <h4 ><%=foundUserDetail.detail %></h4>
                                    <p> Eos sapiente fugiat excepturi alias cumque eveniet. </p>
                                    <button type="submit" class="btn">Add</button>
                           
                            <% } else{ %>   
                                <a href="/userDetail"><i class="material-icons" >add_box</i></a>
                           <% } %>
                        </div>
                    </div>
                    <% } %>
        </div>
    </div>
    </div>



    <div id="middle1">
        <div id="middle_box1">
            <h1>Delivering real result for top</h1>
            <h1>Companies. Some of Our <span class="tomato">Success Stories.</span></h1>

        </div>


        <div id="middle_box2">
            <div class="grid-container">
                <% foundUserDetails.forEach(function(user){ %>
                    <a href="/user/<%= user.username %>">
                        <div class="grid-item inside_box" href="/user">

                            <div class="logo"><img src="image/logo.jpg"></div>
                            <h2 class="tomato"> <%= user.name %></h2>
                            <h4>Co-founder of Cyncosis</h4><br>
                        
                        </div>
                    </a>
                    <% }); %>

            </div>
        </div>
    </div>
    <div id="middle2">
        <div id="middle_box1">
            <h1><span class="tomato">Build & manage </span>distributed teams like no one else</h1>

        </div>
        <div id="middle_box2">
            <h2>Experienced Individuals</h2>
            <p>Lorem ipsum dolor sit amet consectisi consequuntur in inventore!</p><br><br>
            <h2>Experienced Individuals</h2>
            <p>Lorem ipsum dolor sit amet consectisi consequuntur in inventore!</p><br><br>
            <h2>Experienced Individuals</h2>
            <p>Lorem ipsum dolor sit amet consectisi consequuntur in inventore!</p><br><br>
            <h2>Experienced Individuals</h2>
            <p>Lorem ipsum dolor sit amet consectisi consequuntur in inventore!</p><br><br>

        </div>
    </div>
    <div id="middle3">
        <div id="middle_box1">
            <h1>Ready to get started?</h1>

        </div>
        <div id="middle_box2">
            <ul>
                <li>
                    <a href="contact.html" class="contact">Contact us</a>
                </li>
            </ul>

        </div>
    </div>
    <div id="bottom">
        <div id="box1">
            <!-- <h1>Team1</h1> -->
            <i class="material-icons" style="font-size:48px;color:white">email</i>


        </div>
        <div id="box2">
            <!-- <h2>You Can change Theme of this Page by entering color name</h2> -->
            <i class="material-icons" style="font-size:48px;color:red">star_border</i>
            <i class="material-icons" style="font-size:48px;color:red">star_border</i>
            <i class="material-icons" style="font-size:48px;color:red">star_border</i>
        </div>

    </div>

    <!-- Frontend javascripy -->
    <script src="js/frontend.js"></script>
    </body>

    </html>